 {% load static %}

<div class="footer">
        <div class="row">
            <div class="footer-col-1">
                <h3> download our app</h3>
                <p> download app for android and ios mobile phone.</p>
                <div class="app-logo">
                <img src="{%  static 'img/play-store.png' %}">
                <img src="{% static 'img/app-store.png' %}">

                </div>
            </div>
            <div class="footer-col-2">
                <img src="{% static 'img/logo-white.png' %}">
                <p> our purpose is to sustainably make the pleasure and benefits of sports accessible to the many.</p>
            </div>
            <div class="footer-col-3">
                <h3> useful links</h3>
                <ul>
                <li>coupons</li>
                <li>blog spots</li>
                 <li>return policy</li>
                    <li>join affliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>follow us</h3>
                <ul>
                <li>facebook</li>
                <li>twitter</li>
                 <li>instagram</li>
                    <li>youtube</li>
                </ul>
            </div>
            </div>
        <hr>
        <p class="copyright">copyright-2022 -Red store collections</p>

    </div>